html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #dfdfdf;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    -webkit-box-shadow: inset 10px 0px 10px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 0px 10px -10px rgba(0,0,0,0.75);
    box-shadow: inset 10px 0px 10px -10px rgba(0,0,0,0.75);
    background-color: white;
    padding:10px;
    font-weight: 100;
}

.padding{
    margin:0px 14px 20px;
}

h1{
    padding: 20px 0px 10px ;
    font-size: 24px;
    font-weight: 100;
    margin: 0px auto;
}

.item-title{
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 100;
    margin: 0px auto;
}

.item-date{
    padding: 8px 10px;
    color:purple;
    font-size: 16px;
    font-weight: 100;
    margin: 0px auto;
}

.item-text{
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 100;
    margin: 0px auto;
}
